.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vh;
}

h1{
    text-align: center;
}

.noData{
    text-align: center;
    padding: 30px;
}